body{
  background-color: #51557E;
}
*{
  margin:0;
  padding:0;
}
h1{
font-size: 5rem;
}
p{
  text-align: center;
  color:#fff;

}
a{
  text-decoration: none;
  color:inherit;
}
.heading{
  margin-top: 0;
  font-size: 10rem;
  text-align: center;
  color: #fff;
  font-family: "Arvo", cursive;

}
.container{
  padding:5rem;
  margin-bottom: 5rem;
  display: flex;
  justify-content: center;
}

.drum{
  margin:20px;
  width:8rem;
  height:8rem;
  text-align: center;
  font-size: 4rem;
  font-weight: 900;
 border: 10px solid #404B69;
 color: #DA0463;
 font-family: 'Arvo', cursive;
   text-shadow: 3px 0 #fff;
   border-radius: 15px;
}
.w{
  background-image:url("images/tom1.png");
}
.a{
  background-image: url("images/tom2.png");
}
.s{
  background-image: url("images/tom3.png");
}
.d{
  background-image: url("images/tom4.png");
}
.j{
  background-image: url("images/snare.png");
}
.k{
  background-image: url("images/kick.png");
}
.l{
  background-image: url("images/crash.png");
}
.pressed{
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}
footer{
  text-align: center;
  color:#fff;
}
 @media (max-width:450px){
  h1{
    font-size:2rem;
  }
  .container{
    padding:0;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

  }
  .drum{
    margin:10px;
    width:8rem;
    height: 8rem;
    font-size: 3rem;
  }
