.App {
  text-align: center;
}
.card-img-top {
  margin-bottom: 15px; /* Adjust the value as needed */
}
/* Light Mode */
body.light {
  background-color: #ffffff;
  color: #000000;
}

/* Dark Mode */
body.dark {
  background-color: #121212;
  color: #ffffff;
}

/* Add transition for smooth theme switch */
body {
  transition: background-color 0.3s, color 0.3s;
}


